body {
  background-color: lightblue;
}


.p4 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(90, 87, 87);
  font-size: 45px;
  text-align: center;
}


h2 {
  color: rgb(90, 87, 87);
  text-align: left;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}


p {
  color: navy;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}



.p1 {
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}


h3 {
  color: rgb(90, 87, 87);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
}


h1{
  color:rgb(90, 87, 87) ;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}




footer {
  text-align: center;
  padding: 3px;
  color: white;
  background-color: gray;

}


.p3 {
  color: white;
}

.nbar {
  background-color: rgb(90, 87, 87);
}

.tablinks {
  color: white;
}